ion-content{
  text-align: center;
  display: block;
}
::ng-deep ion-row{
  width: 100%;
}
ion-grid{
  display: table;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}
::ng-deep .week{
  height: 19%;
}
::ng-deep ion-col{
  border: solid thin black;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0px;
}
ion-content{
  -webkit-overflow-scrolling: touch;
}
::ng-deep #week{
  height: 4%;
  padding: auto;
}